[Unit]
Description=Magic Denta Backend API
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/magicdenta/magicdenta.uz/backend-denta
EnvironmentFile=/var/www/magicdenta/magicdenta.uz/backend-denta/.env

ExecStart=/usr/bin/env node server.js
Restart=always
RestartSec=3

User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
