PORT=5000
NODE_ENV=production

CLIENT_ORIGINS=https://magicdenta.uz,https://www.magicdenta.uz,https://admin.magicdenta.uz,https://admin-magicdenta.uz,https://api.magicdenta.uz

MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=magicdenta

ADMIN_EMAIL=admin@magicdenta.uz
ADMIN_PASSWORD=YourStrongAdminPasswordHere

JWT_SECRET=Magic_Denta_Clinic_Secret_2026

ALLOW_QUERY_TOKEN=true
SCREEN_KEY=Magic_Denta_Screen_2026

# ===== CONTACT FORM SMTP CONFIG =====
CONTACT_SMTP_HOST=smtp.gmail.com
CONTACT_SMTP_PORT=587
CONTACT_SMTP_USER=magicdenta.uz@gmail.com
CONTACT_SMTP_PASS=your_gmail_app_password
CONTACT_TO=magicdenta.uz@gmail.com
CONTACT_FROM=magicdenta.uz@gmail.com

# ===== TELEGRAM BOT CONFIG =====
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=magicdenta_bot
TELEGRAM_REMINDER_GRACE_MINUTES=15
TELEGRAM_REMINDER_MAX_ATTEMPTS=3
CLINIC_NAME=Magic Denta
CLINIC_ADDRESS=Magic Denta Klinikasi
CLINIC_PHONE=+998 (91) 289-15-14, +998 (90) 542-93-03
CLINIC_MAP_URL=https://magicdenta.uz
FRONTEND_BASE_URL=https://magicdenta.uz
TELEGRAM_EVENT_JOB_INTERVAL_MS=5000
TELEGRAM_PAYMENT_MESSAGE_DELAY_SECONDS=10
TELEGRAM_EVENT_MAX_ATTEMPTS=3
TELEGRAM_NEXT_APPOINTMENT_AFTER_PAYMENT_DELAY_SECONDS=30
TELEGRAM_EVENT_LOCK_MINUTES=10
TELEGRAM_ENABLE_3_HOURS_REMINDER=0

CLINIC_LATITUDE=41.311081
CLINIC_LONGITUDE=69.240562
ORTHODONTIST_NEAR_METERS=100
ORTHODONTIST_AVG_MINUTES_PER_PATIENT=7
ORTHODONTIST_LOCATION_COOLDOWN_SECONDS=10
CLINIC_WEBSITE_URL=https://magicdenta.uz
FOLLOW_UP_NEAR_METERS=100
TELEGRAM_ORTHODONTIST_QUEUE_ENABLED=true
TELEGRAM_LANGUAGE=uz
ORTHODONTIST_DENTIST_ID=
